@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.content {
    margin: 4%;
    padding: 30px 10px 30px 10px;
    background-color: #fff;
    border-radius: 12px;
}

.logo {
    font-family: 'Viga', sans-serif;
    font-size: 35px;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: -10px;
    text-align: left;
    margin-left: -15px;
}

.lead {
    font-size: 13px;
    cursor: default;
}

.signin-text {
    font-style: normal;
    font-weight: 600 !important;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-signin {
    border-color: #0288f5;
    color: #0288f5;
    width: 100%;
}

.btn-signin:hover {
    background-color: #0288f5;
    color: #fff;
}

.btn-signup {
    border-color: #00ac96;
    color: #00ac96;
    width: 100%;
}

.btn-signup:hover {
    background-color: #00ac96;
    color: #fff;
}